/*
.wy-nav-content {
 max-width: 800px;
}
*/

.menuselection {
 border:1px dashed #7fbbe366;
 background:#f1f9ff;
 font-size:95%;
 font-weight:700;
 border-radius:1px;
 padding:2.4px 6px;
 margin:auto 2px
}

.rst-content .guilabel {
 border:1px solid #7fbbe366;
 background:#f1f9ff;
 font-size:95%;
 font-weight:700;
 border-radius:1px;
 padding:2.4px 6px;
 margin:auto 2px
}


/*
.menuselection {
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    font-style: italic;
    font-weight: bold;
}
*/

/*
.guilabel {
 border:1px solid #7fbbe3;
 background:#e7f2fa;
 font-size:80%;
 font-weight:700;
 border-radius:4px;
 padding:2.4px 6px;
 margin:auto 2px
}
*/