# Untracked directories
.idea/
deploy/
build/
tmp/
doc/build/
enmapboxtestdata/
qgisresources
qgisresources/

enmapbox/gui/ui/resources.py
# Untrack compiled files
*.pyc 
*.pyd

#are changed all the time, should be commited explicitely
*.aux.xml
*bsq.aux.xml
*.cache/
*.cache/*
/documentation/build/doctrees/
/enmapbox/gui/ui/tmp.ui
doc/build
/.gitignore
/test/
