# Untracked directories
.idea/

# Untrack compiled files
*.pyc 
*.pyd
*.pyc

#are changed all the time, should be commited explicitely
*.aux.xml

/documentation/build/doctrees/
/enmapbox/gui/ui/tmp.ui
