*.pyc
enmapboxtestdata.egg-info/
enmapboxtestdata/EnMAP_BerlinUrbanGradient.bsq.aux.xml
enmapboxtestdata/HighResolution_BerlinUrbanGradient.bsq.aux.xml
enmapboxtestdata/enmap_berlin.bsq.aux.xml
enmapboxtestdata/hires_berlin.bsq.aux.xml
