# this file lists packages that are required to run the EnMAP-Box
# depending on your system it might be necessary to install required package with package installers others than pip
# see https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format
# see https://www.python.org/dev/peps/pep-0440/#version-specifiers
###### Requirements ######

# these should already part of a standard QGIS installation
gdal ; platform_system != "Linux"
numpy>=1.15
scipy>=1.1
scikit-learn>=0.19.2
matplotlib>=3.0

# we need pyqtgraph. however, it's last master release is from nov 2016 pyqtgraph-0.10.0
# so far we copied a snapshot from the development branch to enmapbox/externals/qps/externals/pyqtgraph
# and fixed some urgent errors.
# in future we like to use the upcoming pyqtgraph-0.11 release

## optional requirements (uncomment to install)
# astropy
pyopengl # required by ImageCube app

