# this file lists packages that are required to run the EnMAP-Box
# depending on your system it might be necessary to install required package with package installers others than pip
# see https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format
# see https://www.python.org/dev/peps/pep-0440/#version-specifiers
###### Requirements ######

# these should already part of a standard QGIS installation
numpy>=1.15
matplotlib>=3.0
pip>=20.0
dataclasses ; python_version < '3.7'

# required by parts of EnMAP-Box Core
scipy>=1.1
scikit-learn>=0.19.2
astropy # required for convolution
PyOpenGL # required by ImageCube app

# required by parts of EnMAP-Box Applications
numba # <=0.47 ; platform_system != "Linux" # required by EnSoMAP, causes problems on Linux (miniconda)
netCDF4 # required by ONNS
enpt-enmapboxapp # required by EnPT
