# this file lists packages that are required to run the EnMAP-Box
# depending on your system it might be necessary to install required package with package installers others than pip
# see https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format
# see https://www.python.org/dev/peps/pep-0440/#version-specifiers
###### Requirements ######

# these should already part of a standard QGIS installation
gdal ; platform_system != "Linux"
numpy>=1.15
matplotlib>=3.0
pip>=20.0

# required by parts of EnMAP-Box Core
scipy>=1.1
scikit-learn>=0.19.2
astropy # required for convolution
pyopengl # required by ImageCube app

# required by parts of EnMAP-Box Applications
# enpt_enmapboxapp # uncomment when it became available either in PIP or a public repository
numba # required by EnSoMAP
netCDF4 # required by ONNS
enpt-enmapboxapp # required by EnPT
